.GeneralContent {
    background-image: url("../../assets/images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.detalleRol {
    background-color: #e1e1e1;
    width: 100%;
    border-radius: 8px;
    &__general {
        font-size: 1rem;
        text-transform: uppercase !important;
        color: #000000;
        font-weight: bold;
    }
}

.cardRol {
    width: 100%;
    margin: 1rem 0;
    height: auto;
    @media screen and (min-width: 980px) {
        width: 31%;
        margin: 1rem 1% 0 1%;
        float: left;
        height: 110px;
    }
}