.detalleRol {
    background-color: #e1e1e1;
    width: 100%;
    border-radius: 8px;
    &__name {
        font-size: 1rem;
        text-transform: uppercase !important;
        color: var(--ion-color-primary);
        font-weight: bold;
    }
    &__phone {
        font-size: 1.2rem;
        color: #373737;
    }
    &__email {
        font-size: 0.9rem;
        color: #373737;
    }
}

.cardRol {
    width: 100%;
    margin: 1rem 0;
    height: auto;
    @media screen and (min-width: 980px) {
        width: 31%;
        margin: 1rem 1% 0 1%;
        float: left;
        height: 110px;
    }
}